module {{ agent_name }} {

    yang-version "1";

    // namespace
    namespace "urn:srl_test/{{ agent_name }}";

    prefix "{{ agent_name }}";

    // import srl_nokia-common {
    //    prefix srl_nokia-comm;
    // }

    // Note that this module needs to be in the path for source-directories
    import srl_nokia-extensions {
      prefix srl_nokia-ext;
    }

    revision "2021-04-11" {
        description "Initial revision";
        reference "TBD";
    }

    grouping {{ agent_name }}-top {
        description "Top level grouping for auto config agent sample app";

        container {{ agent_name }} {
            presence "presence container";
            description "Top level enclosing container for {{ agent_name }} sample app
                         config and operational state data";

            leaf role {
                description "Role of this node in the fabric (layer in the network)";
                type enumeration {
                 enum leaf;
                 enum spine;
                 // TODO more?
                }
            }

            // Info from state
            leaf some-counter {
                type uint64;
                config false;
            }

            // Sample list of peers
            list peer {
                key peer-ip;
                config false;

                leaf peer-ip {
                  type string;
                }
                container bfd {
                 srl_nokia-ext:delivery-node-override true;
                 srl_nokia-ext:stream-mode sample=5;
                 presence "State BFD operational parameters";

                 leaf status {
                  type string;
                  default "red";
                 }
                 leaf flaps-last-period {
                  type uint32;
                 }
                 leaf flaps-history {
                  type string;
                 }
                 leaf last-flap-timestamp {
                   type string;
                 }
                }
            }
        }
    }

    // data definition statements
    uses {{ agent_name }}-top;
}
